In [2]:
import pandas as pd

In [68]:
newdata = {
    'apple': [12,34,56,78,90,0],
    'test' : [0,1,2,3,4,5]
    
}

ok = pd.DataFrame(newdata)
ok.iloc[[1,3,5]]

   apple  test
1     34     1
3     78     3
5      0     5

In [45]:
thisdata.loc['2']

apple    56
test      2
Name: 2, dtype: int64

In [64]:
testdata={
    'Complex':[0j,1,2,3,4+4j],
    'Float':[01.122,31,5,5454,0],
    "Integear":[0,1,2,3,4],
    'String':["string",1.01,1,1j,"string"]
}

data=pd.DataFrame(testdata , index=['First','Sec','Third','4th','5'])
data

       Complex     Float  Integear  String
First       0j     1.122         0  string
Sec     (1+0j)    31.000         1    1.01
Third   (2+0j)     5.000         2       1
4th     (3+0j)  5454.000         3      1j
5       (4+4j)     0.000         4  string

In [58]:
data.loc['Sec']

Complex     (1+0j)
Float           31
Integear         1
String        1.01
Name: Sec, dtype: object

In [17]:
df = pd.read_csv('C:/Users/mishr/Desktop/Book1.csv')
df

   SALE Year
0  2000  jan
1   300  may
2   400  feb

In [75]:
df = pd.read_csv('C:/Users/mishr/Desktop/book1.csv')
condition=(df[['SALE']]=='300')
condition

    SALE
0  False
1  False
2  False

In [32]:
df = pd.read_csv('c:/Users/mishr/Desktop/Financial Distress.csv')
df.drop_duplicates()
df

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x74,x75,x76,x77,x78,x79,x80,x81,x82,x83
0,1,1,0.010636,1.28100,0.022934,0.874540,1.21640,0.060940,0.188270,0.52510,...,85.437,27.070,26.102,16.000,16.00,0.20,22,0.060390,30,49
1,1,2,-0.455970,1.27000,0.006454,0.820670,1.00490,-0.014080,0.181040,0.62288,...,107.090,31.310,30.194,17.000,16.00,0.40,22,0.010636,31,50
2,1,3,-0.325390,1.05290,-0.059379,0.922420,0.72926,0.020476,0.044865,0.43292,...,120.870,36.070,35.273,17.000,15.00,-0.20,22,-0.455970,32,51
3,1,4,-0.566570,1.11310,-0.015229,0.858880,0.80974,0.076037,0.091033,0.67546,...,54.806,39.800,38.377,17.167,16.00,5.60,22,-0.325390,33,52
4,2,1,1.357300,1.06230,0.107020,0.814600,0.83593,0.199960,0.047800,0.74200,...,85.437,27.070,26.102,16.000,16.00,0.20,29,1.251000,7,27
5,2,2,0.007188,1.05580,0.081916,0.879490,0.68673,0.142630,0.043102,0.77198,...,107.090,31.310,30.194,17.000,16.00,0.40,29,1.357300,8,28
6,2,3,1.200200,0.97059,0.076064,0.906770,0.80980,0.165920,-0.024649,0.73660,...,120.870,36.070,35.273,17.000,15.00,-0.20,29,0.007188,9,29
7,2,4,2.234800,1.05900,0.130200,0.818110,0.87599,0.234450,0.045576,0.78727,...,54.806,39.800,38.377,17.167,16.00,5.60,29,1.200200,10,30
8,2,5,1.340500,1.12450,0.147840,0.758710,1.07990,0.276440,0.089408,0.80356,...,59.806,44.530,42.822,15.500,14.00,2.10,29,2.234800,11,31
9,2,6,2.047400,1.59980,0.262460,0.546150,1.31270,0.369480,0.296640,0.85364,...,66.262,52.740,49.206,15.500,12.00,-6.40,29,1.340500,12,32
10,2,7,2.345900,1.57560,0.262100,0.564480,1.15650,0.348620,0.299840,0.85817,...,79.951,66.120,59.471,18.000,12.00,-13.40,29,2.047400,13,33
11,2,8,2.249900,1.54430,0.240910,0.590730,1.07700,0.325610,0.301170,1.12100,...,84.660,73.200,63.880,16.000,12.00,1.20,29,2.345900,14,34
12,2,9,2.282600,1.72170,0.215250,0.552290,0.84101,0.293500,0.333360,1.28690,...,93.883,82.300,74.497,16.500,13.00,0.60,29,2.249900,15,35
13,2,10,1.798200,1.72320,0.208630,0.533980,0.78651,0.293030,0.329800,1.35480,...,100.000,100.000,100.000,17.125,14.50,-7.00,29,2.282600,16,36
14,2,11,2.827700,1.63070,0.186230,0.547720,0.72819,0.273580,0.320850,1.10110,...,91.500,130.500,132.400,20.000,14.50,-16.00,29,1.798200,17,37
15,2,12,2.941300,2.17230,0.319450,0.441390,0.94698,0.427400,0.481260,1.39200,...,87.100,175.900,178.100,20.000,14.50,-20.20,29,2.827700,18,38
16,2,13,2.659800,2.09240,0.303480,0.438220,0.99193,0.426300,0.465320,1.49120,...,92.900,203.200,204.500,22.000,22.00,6.40,29,2.941300,19,39
17,2,14,2.232000,2.22630,0.325880,0.406510,0.90804,0.455340,0.493550,1.65280,...,91.700,227.500,214.500,21.000,20.50,8.60,29,2.659800,20,40
18,3,1,-1.659900,0.87440,-0.034676,0.793500,0.60952,-0.002632,-0.086847,0.50609,...,85.437,27.070,26.102,16.000,16.00,0.20,25,-0.303170,8,37
19,4,1,0.022750,0.83537,0.064310,0.614300,0.49359,0.097075,-0.096852,0.18896,...,85.437,27.070,26.102,16.000,16.00,0.20,12,0.006922,28,44
20,4,2,0.003775,0.93286,0.042339,0.615280,0.49212,0.087860,-0.039606,0.19090,...,107.090,31.310,30.194,17.000,16.00,0.40,12,0.022750,29,45
21,4,3,0.000183,0.93575,0.051198,0.648230,0.63071,0.089359,-0.040794,0.19663,...,120.870,36.070,35.273,17.000,15.00,-0.20,12,0.003775,30,46
22,4,4,0.222530,0.92927,0.044282,0.658100,0.62542,0.069817,-0.046241,0.19544,...,54.806,39.800,38.377,17.167,16.00,5.60,12,0.000183,31,47
23,4,5,0.446620,1.08600,0.080419,0.570180,0.66855,0.112400,0.048281,0.33217,...,59.806,44.530,42.822,15.500,14.00,2.10,12,0.222530,32,48
24,4,6,1.239400,1.19000,0.122380,0.566300,0.78135,0.208110,0.105940,0.29836,...,66.262,52.740,49.206,15.500,12.00,-6.40,12,0.446620,33,49
25,4,7,1.774100,1.82670,0.267580,0.359650,1.02970,0.270860,0.288590,0.45172,...,79.951,66.120,59.471,18.000,12.00,-13.40,12,1.239400,34,50
26,4,8,0.726550,1.72630,0.194110,0.383800,0.86503,0.250930,0.246900,0.46110,...,84.660,73.200,63.880,16.000,12.00,1.20,12,1.774100,35,51
27,4,9,0.855900,1.54470,0.194380,0.378190,0.77048,0.216840,0.200370,0.39513,...,93.883,82.300,74.497,16.500,13.00,0.60,12,0.726550,36,52
28,4,10,1.416300,2.12970,0.121510,0.334600,0.81157,0.168040,0.359760,0.63328,...,100.000,100.000,100.000,17.125,14.50,-7.00,12,0.855900,37,53
29,4,11,1.811800,1.51070,0.238170,0.449540,0.87366,0.323370,0.224240,0.36379,...,91.500,130.500,132.400,20.000,14.50,-16.00,12,1.416300,38,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3642,416,11,1.757900,0.91080,0.043833,0.766470,0.15686,0.063045,-0.064260,0.79545,...,91.500,130.500,132.400,20.000,14.50,-16.00,8,1.490400,9,20
3643,416,12,2.073200,0.97994,0.042035,0.788290,0.17749,0.049076,-0.014654,0.87559,...,87.100,175.900,178.100,20.000,14.50,-20.20,8,1.757900,10,21
3644,416,13,2.421000,1.05920,0.042302,0.777390,0.21252,0.046519,0.043036,0.92553,...,92.900,203.200,204.500,22.000,22.00,6.40,8,2.073200,11,22
3645,416,14,2.585800,1.06200,0.041391,0.786070,0.19561,0.039888,0.045683,0.68334,...,91.700,227.500,214.500,21.000,20.50,8.60,8,2.421000,12,23
3646,417,11,0.285230,2.69320,0.041913,0.354190,0.66525,0.020270,0.599150,1.78310,...,91.500,130.500,132.400,20.000,14.50,-16.00,33,0.074481,2,2
3647,417,12,0.112630,38.79300,0.205380,0.024613,0.93185,0.064033,0.910940,13.81000,...,87.100,175.900,178.100,20.000,14.50,-20.20,33,0.285230,3,3
3648,417,13,0.088544,4.56500,0.022342,0.207690,1.59260,-0.021597,0.735060,4.36740,...,92.900,203.200,204.500,22.000,22.00,6.40,33,0.112630,4,4
3649,417,14,0.041872,29.23300,0.043577,0.034891,0.13391,-0.028079,0.929550,28.79300,...,91.700,227.500,214.500,21.000,20.50,8.60,33,0.088544,5,5
3650,418,13,0.302730,1.41940,0.058992,0.594270,0.69272,0.067815,0.231350,0.87608,...,92.900,203.200,204.500,22.000,22.00,6.40,8,0.304850,1,19
3651,418,14,0.172420,1.43780,0.060175,0.603330,0.92751,0.078734,0.239110,0.93877,...,91.700,227.500,214.500,21.000,20.50,8.60,8,0.302730,2,20
3652,419,12,3.649700,2.22040,0.324810,0.379870,0.82762,0.428100,0.388700,1.49710,...,87.100,175.900,178.100,20.000,14.50,-20.20,14,2.473500,2,30
3653,419,13,3.772800,2.27690,0.296370,0.388330,0.78804,0.392570,0.422500,1.50070,...,92.900,203.200,204.500,22.000,22.00,6.40,14,3.649700,3,31
3654,419,14,3.331600,2.01370,0.198120,0.455180,0.56305,0.261400,0.396140,1.18680,...,91.700,227.500,214.500,21.000,20.50,8.60,14,3.772800,4,32
3655,420,1,1.343400,1.61950,0.152070,0.750980,0.77404,0.199840,0.353190,0.83492,...,75.461,24.318,23.776,15.250,16.75,4.25,11,4.847400,2,32
3656,420,2,0.009381,1.59870,0.110290,0.715740,0.86610,0.149900,0.339820,0.99443,...,90.850,28.130,27.125,16.250,16.00,0.25,11,1.343400,3,33
3657,420,3,-2.549700,1.33080,0.005893,0.831010,0.49689,0.035941,0.236340,0.85408,...,110.530,32.500,31.464,17.000,15.75,0.25,11,0.009381,4,34
3658,421,9,8.132900,3.23910,0.184020,0.755550,0.63106,0.190760,0.268900,3.19430,...,93.883,82.300,74.497,16.500,13.00,0.60,37,5.734800,1,8
3659,421,10,9.370200,1.83900,0.207880,0.723810,0.67291,0.213390,0.154050,1.77080,...,100.000,100.000,100.000,17.125,14.50,-7.00,37,8.132900,2,9
3660,421,11,11.184000,1.47880,0.224580,0.727530,0.70858,0.217200,0.118180,1.36210,...,91.500,130.500,132.400,20.000,14.50,-16.00,37,9.370200,3,10
3661,421,12,6.312400,0.91726,0.225740,0.731190,0.70651,0.212760,-0.026347,0.86273,...,87.100,175.900,178.100,20.000,14.50,-20.20,37,11.184000,4,11
3662,421,13,7.245000,0.75204,0.221330,0.740060,0.71454,0.231850,-0.092425,0.70019,...,92.900,203.200,204.500,22.000,22.00,6.40,37,6.312400,5,12
3663,421,14,7.933300,0.72643,0.187950,0.752720,0.65253,0.192470,-0.120460,0.62076,...,91.700,227.500,214.500,21.000,20.50,8.60,37,7.245000,6,13
3664,422,7,0.351440,1.34490,0.026538,0.245330,0.03792,0.026432,0.083908,1.27210,...,79.951,66.120,59.471,18.000,12.00,-13.40,37,0.107580,1,38
3665,422,8,0.495630,2.06090,0.149950,0.189730,0.14381,0.132120,0.199190,1.98920,...,84.660,73.200,63.880,16.000,12.00,1.20,37,0.351440,2,39
3666,422,9,0.436380,2.58500,0.227410,0.148620,0.13542,0.124480,0.231370,2.53960,...,93.883,82.300,74.497,16.500,13.00,0.60,37,0.495630,3,40
3667,422,10,0.438020,2.26050,0.202890,0.160370,0.18588,0.175970,0.198400,2.22360,...,100.000,100.000,100.000,17.125,14.50,-7.00,37,0.436380,4,41
3668,422,11,0.482410,1.96150,0.216440,0.200950,0.21642,0.203590,0.189870,1.93820,...,91.500,130.500,132.400,20.000,14.50,-16.00,37,0.438020,5,42
3669,422,12,0.500770,1.70990,0.207970,0.261360,0.21399,0.193670,0.183890,1.68980,...,87.100,175.900,178.100,20.000,14.50,-20.20,37,0.482410,6,43
3670,422,13,0.611030,1.55900,0.185450,0.307280,0.19307,0.172140,0.170680,1.53890,...,92.900,203.200,204.500,22.000,22.00,6.40,37,0.500770,7,44
3671,422,14,0.518650,1.61480,0.176760,0.363690,0.18442,0.169550,0.197860,1.58420,...,91.700,227.500,214.500,21.000,20.50,8.60,37,0.611030,8,45

In [43]:
df=pd.read_csv("C:/Users/mishr/Desktop/oneyear.csv")

df.shape()

TypeError: 'tuple' object is not callable

In [38]:
df=pd.read_csv('C:/Users/mishr/Desktop/test.csv',index_col=2)

df

           TEST1  lowercasr  test
UPPERCASE
3              1          2     4
7              5         65     8
0              9          0    75

df=pd.read_csv('C:/Users/mishr/Desktop/test.csv',index_col=1)

df

In [39]:
df=pd.read_csv('C:/Users/mishr/Desktop/test.csv')
df

   TEST1  lowercasr  UPPERCASE  test
0      1          2          3     4
1      5         65          7     8
2      9          0          0    75

In [64]:
test=pd.read_csv('C:/Users/mishr/Desktop/test.csv',index_col=0)
test1=test.iloc[]
test1

lowercase    65
UPPERCASE     7
test          8
Name: 5, dtype: int64

In [29]:
test=pd.read_json('C:/Users/mishr/Desktop/world-countries.json')

test1=pd.read_csv('C:/Users/mishr/Desktop/Book1.csv')
test1

   SALE Year
0  2000  jan
1   300  may
2   400  feb

In [24]:
import pandas as pd
df = pd.read_csv('C:/Users/mishr/Desktop/Book1.csv',index_col=0)
df

     Year
SALE
2000  jan
300   may
400   feb

      name  score
1     Dima    9.0
3    James    0.0
5  Michael   20.0
6  Matthew   14.5

In [63]:
nan=0
data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5,nan, 9, 20, 14.5, nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
test=pd.DataFrame(data , index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] )

test1=test[['name','score']]
test1[(test1['name']=='Anastasia')&(test1['name']=='Emily')&(test1['name']=='Michael')]
test1

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    0.0
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    0.0
i      Kevin    8.0
j      Jonas   19.0